
@font-face {
    font-family: 'booter_-_five_fiveregular';
    src: url('../fonts/booter/booterff.woff2') format('woff2'),
         url('../fonts/booter/booterff.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: 'dragonbones_bbregular';
    src: url('../fonts/dragonbonesBB/dragonbonesbb_reg.woff2') format('woff2'),
         url('../fonts/dragonbonesBB/dragonbonesbb_reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.question{
    /* color: #FF8018;
    font-size: 30px; */
    color: white;
    font-family: 'dragonbones_bbregular';
    font-size: 4vw;
}
.modal {
    width: 400px;
    height: 400px;
}